body{
    background-color: #f55d5a;
    color:#ffedd3;
}
.main_container1,.main_container2{
    display:flex;
    justify-content: space-evenly;
}
button{
    border:2px solid #ff5c58;
    border-radius:30px;
    padding:0px 10px;
    background-color:#ffedd3;
    height: 28px;
    color:#ff5c58;
    font-weight:600;
    width:95px;
}
button:hover{
    background-color: #ff5c58;
    color:#ffedd3;
    border:2px solid #ffedd3;
    transition: 0.5s;
    cursor: pointer;
}
label,input{
    flex-basis: 100px;
}
input,select,option{
    border:2px solid  #ff5c58;
    margin:3px 0px;
    outline:#FCD2D1;
    border-radius: 30px;
    padding:5px;
    background-color: #ffedd3;
}
.l_left_container,.right_container,#ml_container,#mr_container{
    border:3px solid #ffedd3;
    border-radius:30px;
    width:45%;
    margin-top:10px;
    padding:10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.right_container,
#ml_container,
#mr_container{
    background-color: #fe8f8f;
}
.l_left_container{
    border:none;
    background-color: none;
}
.left_container{
    border:3px solid #ffedd3;
    border-radius:30px;
    padding:5px 10px;
    background-color: #fe8f8f;
}
h1{
    text-align: center;
    font-family:Verdana;
}
.closeBtn{
    font-weight: 900;
    color:#ff5c58;
}
.formctrl_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#submitBtn,#finalSubmit{
    display: inline-block;
    margin:auto;
}
.submittedClass{
    display: flex;
    width:80%;
    margin:auto;
    align-items: center;
    justify-content: space-between;
}
.radiodivElem span,.checkboxdivElem span{
    margin:0px 5px;
}
#mr_container div{
    display: flex;
    justify-content: space-between;
}
#mr_container div label,span{
    width:40%;
    margin: auto;
}
button{
    box-shadow: inset ;
}
.checkboxDiv,.radioBoxDiv{
    accent-color: #ff5c58;
}